<!DOCTYPE html>
<html>
<head>
    <title>Flash Firmware</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/flash_firmware">Flash Firmware</a></li>
                <li><a href="/credits">Credits</a></li>
            </ul>
        </nav>
        <a href="https://www.protiviti.com"><img src="{{ url_for('static', filename='protiviti_logo.png') }}" alt="Protiviti Logo"></a>
    </header>
    <main>
        <h1>Firmware Flashing Application</h1>
        <h2>Flash Firmware Response:</h2>
        <pre>{{ flash_message }}</pre>
    </main>
</body>
</html>
